{{ define "main" }}	<h1>{{ .Title }}</h1>
	{{ .Content }}
	<h3>Meals</h3>
	<ul>{{ range sort .Site.Taxonomies.recipe.meal ".Page.RelPermalink" }}
		<li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>{{ end }}
	</ul>
	<h3>Snacks</h3>
	<ul>{{ range sort .Site.Taxonomies.recipe.snack ".Page.RelPermalink" }}
		<li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>{{ end }}
	</ul>
	<h3>Breads</h3>
	<ul>{{ range sort .Site.Taxonomies.recipe.bread ".Page.RelPermalink" }}
		<li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>{{ end }}
	</ul>
	<h3>Desserts</h3>
	<ul>{{ range sort .Site.Taxonomies.recipe.dessert ".Page.RelPermalink" }}
		<li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>{{ end }}
	</ul>{{ end }}
